@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #240046;
    --foreground: #fff;
  }

  header{
    background: #10002B;
  }
}
@media (prefers-color-scheme: light) {
  header {
    background: #E0AAFF
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

a {
  text-decoration: underline;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
