@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #3b0764, #7e22ce, #500724) ;
    background-repeat:no-repeat;
    background-size:100% 900px;
    background-color: #000;
  }

  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
    background-repeat:no-repeat;
    background-size:100% 900px;
  }

}

input {
  background: none;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  background: none;
}
