@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  @media (prefers-color-scheme: dark) {
    background-image: linear-gradient(to bottom, #3b0764, #7e22ce);
    background-repeat:no-repeat;
    background-size:100% 900px;
    background-color: #000;
    color: #fff;
  }

  @media (prefers-color-scheme: light) {
    background-image: linear-gradient(to bottom, #13547a, #80d0c7);
    background-repeat:no-repeat;
    background-size:100% 900px;
  }
}

input {
  background: none;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.footer {
  background: none;
}

.scorecard-tabs {
  .react-tabs__tab-list {
    margin: 0 auto;
  }

  .react-tabs__tab {
    width: 44%;
    margin: 1px 3%;
    padding: 2rem 0;
    text-align: center;
    border: none;
    border-radius: .5rem .5rem 0 0;
  }

  .react-tabs__tab:focus:after {
      display: none;
  }

  @media (prefers-color-scheme: dark) {
    .react-tabs__tab-list {
      border-bottom: 1px solid #fff;
    }

    .react-tabs__tab--selected {
      background: #3b0764;
      color: #fff;
    }

    .react-tabs__tab:hover,  
    .react-tabs__tab:focus {
      color: #fff;
      background-color: #3b0764;
    }
    .react-tabs__tab:focus {
      border: 1px solid #fff;
      border-width: 1px 1px 0 1px;
    }
  }

  @media (prefers-color-scheme: light) {
    .react-tabs__tab-list {
      border-bottom: 1px solid #1f2937;
    }

    .react-tabs__tab--selected {
      background: #7fe1d6;
      color: #1f2937;
    }

    .react-tabs__tab:hover,  
    .react-tabs__tab:focus {
      color: #1f2937;
      background-color: #7fe1d6;
    }
    .react-tabs__tab:focus {
      border: 1px solid #1f2937;
      border-width: 1px 1px 0 1px;
    }
  }
}